@import url(https://fonts.googleapis.com/css2?family=Tajawal);
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  }


  .footer{
    margin-top: 1.5in;
    justify-content: center;
    background-color: #1f2630;
    min-height: 125px;
    min-width: 100%;
    color: rgba(255, 255, 255, 0.973);
    margin-top: -5px;
    padding-top: 15px;
    padding-bottom: 5vh;
    position: static; 
    bottom:0;
  
  }

  svg {
    width: 50px;
    height: 50px;
    fill: azure;
  }
  svg:hover {
    fill: rgb(170, 64, 149);
  }

  body{
    margin: 0;
    overflow: hidden;
    animation: fadeInAnimation ease 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
  ::-webkit-scrollbar-track {
  background: #f5f5f5;
  border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #ccc;  
  }
  
  ::-webkit-scrollbar-thumb:hover {
  background: #999;  
  }

.yob{
  max-width: 100vw;
  
  background-color: rgb(233, 235, 235);
  margin-top: none;
  justify-content: center;
  overflow-x: hidden;
}

.nav{
 background-color: #000000;
  width: 100vw;
  justify-content: center;
  display: flex;
  padding-bottom: 3vh;
  padding-top: 3vh;
  margin-bottom: 0vh;


}

button {
  font-size: 1.1vh;
  color: #e1e1e1;
  font-family: inherit;
  font-weight: 720;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 600ms;
  transition-property: color;
}


button:hover {
  color: #aa4095;
  
}

button:hover:after {
  width: 100%;
  left: 0%;
}

button:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #aa4095;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 600ms;
  transition-property: width, left;
}

body {
  margin: 0;
}

.wrapper {
  height: 95vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;
}

header {
  margin-bottom: 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transform-style: preserve-3d;
  z-index: -1;
}

.background {
  transform: translateZ(-5px) scale(2);
}


.background {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

.title {
  font-size: 7rem;
  color: rgb(255, 215, 253);
  text-shadow: 0 0 30px black;
  text-decoration: darkblue;
  
}

section {
  font-size: 2rem;
  padding: 2rem;
  background-image: url('https://wallpapercave.com/wp/wp7367665.jpg') ;
  background-size: cover;
  color: white;
  min-height: 95.9vh;
  margin-bottom: 0vh;
  padding-left: 20vw;
  padding-right: 20vw;
}

.about{
  font-family: Tajawal;
  font-weight: 600;
  color: #e1e1e1;
  
  text-decoration: darkblue;
}

.abtext{
  margin-top: -2vh;
  font-family: Tajawal;
  font-weight: 400;
  color: #e1e1e1;
}

.roundedabout{
  margin-top: 22.4vh;
  margin-bottom: 5vh;
  padding-bottom: 2%;
  padding-top: 2%;
  padding-left:5%;
  padding-right: 5%;
  min-width: 50%;
  min-height: 50vh;
  background-color: #111111;
  border-radius: 50px;
}
.card{
  border-radius: 50px;
  object-fit: cover;
  
}

.gal{
  padding: 4vh;
  animation: fadeInAnimation ease 7s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  
  
}

.gallery{
  background-color: #111111;
  height: 96vh;
  overflow-y: auto;
  overflow-x: hidden; 
}

.goods{
 padding-top: 4vh;
  background-image: url('https://wallpapercave.com/wp/wp7367665.jpg');
  height: 76vh;
}

.inputForm{
  width: 50%;
  border-radius: 50px;
  height: 60vh;
  background-color: #111111;
  padding: 5vh;
  
  overflow-x: hidden;
  overflow-y: auto;
  

}

.formtitles{
  margin-bottom: -1vh;
}

.goodswrapper{
  background-color: #ffffff;
  height: 96vh;
  overflow-y: auto;
  overflow-x: hidden; 
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}

textarea{
  width: 80%;
  margin-top: 2vh;
  margin-bottom: 1vh;
  min-height: 10vh;
  resize: none;
  text-align: center;
  font-family: Tajawal;
  border-radius: 25px;
  border-color: rgb(131, 143, 167);
  background-color: #111111;
  color: #e1e1e1;
}

.textbox{
  min-width: 80%;
  max-width: 80%;
  text-align: center;
  min-height: 3vh;
  margin-top: 2vh;
  margin-bottom: 1vh;
  font-family: Tajawal;
  border-radius: 25px;
  border-color: rgb(131, 143, 167);
  border-style: solid;
  overflow:hidden;
  background-color: #111111;
  color: #e1e1e1;
}

.orderbut{
  margin-top: 2vh;
  font-size: 1.1vh;
  color: #e1e1e1;
  font-family: inherit;
  font-weight: 720;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 600ms;
  transition-property: color;
}


.orderbut:hover {
  color: #aa4095;
  
}


.orderbut:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #aa4095;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 600ms;
  transition-property: width, left;
}

.form{
  overflow: auto;
}

h1{
  color: #e1e1e1;
}

h3{
  color: #e1e1e1;
}

h5{
  color: #e1e1e1;
}

